.App {
  text-align: center;
}

.App-body {
  background-color: white; /*#282c34;*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black; /*white;*/
}

.Generic-table, th, td { /* Improve th, td selection */
  padding: 20px;
  border-collapse: collapse;
  border: 1px solid black;
}