.App {
  text-align: center;
}

.App-body {
  background-color: white; /*#282c34;*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black; /*white;*/
}

.App-select {
  list-style-type: none;
}

.App-select > li {
  display: inline;
}

.App-select > li > img {
  width: 40%;
  height: 40%;
  margin: 1%;
}

.Generic-table, th, td { /* Improve th, td selection */
  padding: 20px;
  border-collapse: collapse;
  border: 1px solid black;
}

.Cancel-button {
  background-color: #DC143C;
}

.Validate-button {
  background-color:	#7FFF00;
}